---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Droid"
	  position="Full-stack Developer"
	  aboutMe={`Hi there! I'm Droid, a front-end developer passionate about crafting websites that are not only visually appealing but also smooth intuitive. I turn designs into functional websites. With over 5 years of experience, I specialize in front-end  development using HTML, CSS, JavaScript, and frameworks like React and Angular & and back-end using Python, Java, Node.js and C.\n\nI thrive on creating user-centric designs and optimizing performance for seamless browsing experiences.\n\nHIRE ME!`}
	  linkedin="https://www.linkedin.com/in/clintonmwangi#"
	  github="https://github.com/lurvdroid"
	  cvLink="/files/resume-cv.pdf"
	  x="https://x.com/lurvdroid"
      instagram="https://instagram.com/lurvdroid"
	  profileImage="/images/profile2.webp"
	/>
</BaseLayout>

